<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitpub</title>
    <style type="text/css">
        body {
          color: rgb(138, 93, 25);
          background-color: steelblue;
        }
      </style>
</head>
<body>
    <h1>Welcome to gitpub</h1>
    <ul>
        const drinksCap = drinks.map((name) => {
            return `${name[0].toUpperCase()}${name.slice(1)}`;
          });
        <% for(let i = 0; i < allDrinks.length; i++) { %>
                  
            <li>
                <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
            </li>
           <% } %>
        }
    </ul>
</body>
</html>